@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e6e6e6;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a1a1a1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #737373;
}